.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.btns_submit{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.btns_submit button{
    width: 100%;
}